/* scroll-bar 工具预览用的滚动条样式（通过 CSS 变量驱动） */
#scrollbar-code-area::-webkit-scrollbar {
  width: var(--sb-width, 8px) !important;
  height: var(--sb-width, 8px) !important;
  visibility: var(--sb-visibility, visible) !important;
}

#scrollbar-code-area::-webkit-scrollbar-track {
  background-color: var(--sb-track-background-color, #f3f3f3)!important;
  border: var(--sb-track-border-width, 0px) var(--sb-track-border-style, solid)
    var(--sb-track-border-color, transparent)!important;
  border-radius: var(--sb-track-border-radius, 0px)!important;
  visibility: var(--sb-visibility, visible)!important;
}

#scrollbar-code-area::-webkit-scrollbar-thumb {
  background-color: var(--sb-thumb-background-color, #888)!important;
  border: var(--sb-thumb-border-width, 0px) var(--sb-thumb-border-style, solid)
    var(--sb-thumb-border-color, transparent)!important;
  border-radius: var(--sb-thumb-border-radius, 0px)!important;
  visibility: var(--sb-visibility, visible)!important;
}

#scrollbar-code-area::-webkit-scrollbar-corner {
  background-color: var(--sb-corner-background-color, transparent)!important;
}

#scrollbar-code-area:hover::-webkit-scrollbar-track,
#scrollbar-code-area:hover::-webkit-scrollbar-thumb,
#scrollbar-code-area:hover::-webkit-scrollbar {
  visibility: visible!important;
}